<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiegeNut: @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kumar+One|Libre+Baskerville|Playfair+Display+SC" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container-fluid">

        @if (IsSectionDefined("HomeHeader"))
            {
            <div class="row header text-center">
                <div class="overlay">
                    @RenderSection("HomeHeader", required: false)
                </div>
            </div>
        }

        else if (IsSectionDefined("Header"))
        {
            <div class="row header-content">
                @RenderSection("Header", required: false)
            </div>
        }

        @if (IsSectionDefined("List"))
            {
            <div class="list">
                @RenderSection("List", required: false)
            </div>
        }
        else if (IsSectionDefined("Form"))
        {
            <form class="form" id="form" method="post">
                @Html.AntiForgeryToken()
                <div class="row form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-6 col-sm-offset-3">
                        @RenderSection("Form", required: false)
                        <div class="form-group">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-lg" })
                            <input type="submit" value="Submit" class="btn btn-lg pull-right" />
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            @RenderBody()
        }
    </div>
    <div class="footer-content">
        <p>&copy; @DateTime.Now.Year - SiegeNut</p>
    </div>
</body>
</html>
