<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiegeNut: @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kumar+One|Libre+Baskerville|Playfair+Display+SC" rel="stylesheet">
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container">

        @if (IsSectionDefined("FloralHeader"))
            {
            <div class="gold-border">
                <div class="floral-border">
                    @RenderSection("FloralHeader", required: false)
                </div>
            </div>
        }

        else if (IsSectionDefined("Header"))
        {
            <div class="gold-border">
                <div class="content header-content">
                    @RenderSection("Header", required: false)
                </div>
            </div>
        }
        <div class="gold-border">
            <div class="content body-content">
                @RenderBody()
            </div>
        </div>
        <div class="gold-border">
            <div class="content footer-content">
                <footer>
                    <p>&copy; @DateTime.Now.Year - SiegeNut</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
