@model SiegeNut.Models.Product

@{
    ViewBag.Title = "Details";
}
@section header {
<h1>Details</h1>
    }

@section list {
<div>
    <div class="row item">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="col-md-12 center-block">
            <img src="@Url.Content(Model.ImageURL)" class="img-responsive img-rounded" alt="Image" />
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Reviews for this product", "Index", "Reviews", new { searchString = Model.Name, searchField = "Product" }, new { @class = "btn" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </div>
</div>
    }