@model IEnumerable<SiegeNut.Models.Product>

@{
    ViewBag.Title = "Index";
}
@section header {
<h1>Products</h1>
}

@section List {
    <p>
        @Html.ActionLink("Create New", "Create",null, new { @class="btn btn-lg btn-create"})
    </p>

    @foreach (var item in Model)
    {
        <div class="row item">
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-md-12">
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn"})
            </div>
        </div>
    }
}