@model IEnumerable<SiegeNut.Models.Product>
@{
    ViewBag.Title = "Index";
}
@section header {
    <h1>Products</h1>
}
@section List {
<script src="~/Content/lightbox.js"></script>
    @if (ViewBag.isAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-create" })
        </p>
    }

    @*Photo Attributions:
        Trebuchet: http://en.wikipedia.org/wiki/User:ChrisO
        Battering ram: https://en.wikipedia.org/wiki/User:Ballista 
        Portcullis: https://www.flickr.com/photos/exfordy/3335770018 Brian Snelson*@

    @foreach (var item in Model)
    {
        <div class="row item">
            <div class="col-md-12">
                <h2>@Html.DisplayFor(model => item.Name)</h2>
            </div>
            <div class="col-md-12">
                @if (!string.IsNullOrEmpty(item.Description))
                {
                    @Html.DisplayFor(model => item.Description)
                }
            </div>
            <div class="col-md-12 image">
                @if (!string.IsNullOrEmpty(item.ImageURL))
                {
                    <img src="@Url.Content(item.ImageURL)" class="img-responsive img-rounded lightbox-trigger" alt="Image" />
                }
            </div>
            <div class="col-md-12">
                @Html.ActionLink("Reviews for this product", "Index", "Reviews", new { searchString = item.Name, searchField = "Product" }, new { @class = "btn" })
                @if (ViewBag.isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
                }
                @if (ViewBag.isAdmin)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
                }
            </div>
        </div>
    }
}