@model SiegeNut.Models.Review
<script src="~/Content/scripts.js"></script>

<div class="form-group">
    @Html.LabelFor(model => model.ProductID, "Siege Weapon")
    @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
</div>

<div class="form-group ratings">
    @for (double i = 0.5; i <= 5; i += 0.5)
    {
        if (i <= Model.Rating)
        {
            if (i % 1 != 0)
            {<img src="~/Images/half star left.png" value=@i />}
            else
            {<img src="~/Images/half star right.png" value=@i />}
        }
        else
        {
            if (i % 1 != 0)
            {<img src="~/Images/half empty star left.png" value=@i />}
            else
            {<img src="~/Images/half empty star right.png" value=@i />}
        }
    }
    @*@Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })*@
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MainText, "Review")
    @Html.TextAreaFor(model => model.MainText, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.MainText, "", new { @class = "text-danger" })
</div>