@model SiegeNut.Models.Review

<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Product.Name)</strong>
</div>
<div class="col-md-12 ratings">
    @for (int i = 0; i < 5; i++)
    {
        if (i == Model.Rating + 0.5 || (Model.Rating == 0 && i == 0))
        {<img src="~/Images/halfstar.png" />}
        else if (i < Model.Rating)
        {<img src="~/Images/star.png" />}
        else
        {<img src="~/Images/empty star.png" />}
    }
</div>
<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Title)</strong>
</div>
<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Author.UserName)</strong> on
    @Model.DateWritten.ToString("MMM dd, yyyy")
</div>
<div class="col-md-12">
    @Html.DisplayFor(model => model.MainText)
</div>

