@model SiegeNut.Models.Review

<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Product.Name)</strong>
</div>
<div class="col-md-12 ratings">
    @for (double i = 0; i < 5; i += 0.5)
    {
        if (i < Model.Rating)
        {
            if (i % 1 == 0){<img src="~/Images/half star left.png"/>}
            else {<img src="~/Images/half star right.png"/>}
        }
        else
        {
            if (i % 1 == 0) {<img src="~/Images/half empty star left.png"/>}
            else {<img src="~/Images/half empty star right.png"/>}
        }
    }
</div>
<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Title)</strong>
</div>
<div class="col-md-12">
    <strong>@Html.DisplayFor(model => model.Author.UserName)</strong> on
    @Model.DateWritten.ToString("MMM dd, yyyy")
</div>
<div class="col-md-12">
    @Html.DisplayFor(model => model.MainText)
</div>

