@model SiegeNut.Models.Review

@{
    ViewBag.Title = "Details";
}
@section Header {
    <h1>Details</h1>
}

@section List {
    <div class="row item">
        @Html.Partial("_ReviewBody", Model)
        <div class="col-md-12">
            @if (ViewBag.CurrentUser == Model.AuthorID || ViewBag.isAdmin)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn" })
            }
            @if (ViewBag.CurrentUser == Model.AuthorID || ViewBag.isAdmin)
            {
                @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn" })
            }
            else
            { @Html.ActionLink("Reviews by this user", "Index", "Reviews", new { searchString = Model.Author.UserName, searchField = "Author" }, new { @class = "btn" }) }
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </div>
}