@model IEnumerable<SiegeNut.Models.Review>

@{
    ViewBag.Title = "Index";
}

@section Header {
    <h1>Index</h1>
}


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-create" })

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParm })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row review">
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Product.Name)</strong>
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayNameFor(model => model.Rating):</strong>
            @Html.DisplayFor(modelItem => item.Rating)
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Author.UserName)</strong> on
            @item.DateWritten.ToString("MMM dd, yyyy")
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.MainText)
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
        </div>
    </div>
}