@model IEnumerable<SiegeNut.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>

@foreach (var item in Model) {
    <div class="row review">
        <div class="col-md-12">
            <strong>@Html.DisplayNameFor(model => model.Rating):</strong>
            @Html.DisplayFor(modelItem => item.Rating)
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Author)</strong> on 
            @item.DateWritten.ToString("MMM dd, yyyy")
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.MainText)
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
        </div>
    </div>
}

</table>
