@model PagedList.IPagedList<SiegeNut.Models.Review>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@section Header {
    <h1>Index</h1>
}


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-create" })

<div class="row review">
    @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
    {
        <div class="col-md-3">
            @Html.DropDownList("fieldSearch", new List<SelectListItem>
    {
                        new SelectListItem() {Text = "Product", Value="Product"},
                        new SelectListItem() {Text = "Rating", Value="Rating"},
                        new SelectListItem() {Text = "Author", Value="Author"}
    }, new { @class = "form-control" })
        </div>
        <div class="col-md-8">
            @Html.TextBox("SearchString", ViewBag.CurrentSearch as string, new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-default" value="Search" />
        </div>
                }
</div>
<div class="row review">
    <div class="col-md-3">
        @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField})
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row review">
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Product.Name)</strong>
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayNameFor(model => item.Rating):</strong>
            @Html.DisplayFor(modelItem => item.Rating)
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </div>
        <div class="col-md-12">
            <strong>@Html.DisplayFor(modelItem => item.Author.UserName)</strong> on
            @item.DateWritten.ToString("MMM dd, yyyy")
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.MainText)
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
        </div>
    </div>
}
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentSearch = ViewBag.CurrentSearch }))