@model PagedList.IPagedList<SiegeNut.Models.Review>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@section Header {
    <h1>Reviews</h1>
}

@section List {
    <script src="~/Content/fieldSelect.js"></script>
    <script src="~/Content/sorting.js"></script>
    @if (ViewBag.isAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-create" })
    }
    <div class="row search-row">
        @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
        {
            <div class="col-lg-6 hidden-sm hidden-xs">
                <div class="input-group input-group-lg">
                    <span class="input-group-btn">
                        @Html.DropDownList("searchField", new List<SelectListItem>
    {
                        new SelectListItem() {Text = "Search By", Value="", Selected=true},
                        new SelectListItem() {Text = "Product", Value="Product"},
                        new SelectListItem() {Text = "Rating", Value="Rating" },
                        new SelectListItem() {Text = "Author", Value="Author"}
    }, new { @class = "btn" })
                    </span>
                    @Html.TextBox("searchString", ViewBag.CurrentSearch as string, new { @class = "form-control text-search" })
                    @Html.DropDownList("searchRating", new List<SelectListItem>
    {
                        new SelectListItem() {Text = "5 Stars", Value="5"},
                        new SelectListItem() {Text = "4-5 Stars", Value="4"},
                        new SelectListItem() {Text = "3-4 Stars", Value="3"},
                        new SelectListItem() {Text = "2-3 Stars", Value="2"},
                        new SelectListItem() {Text = "1-2 Stars", Value="1"},
                        new SelectListItem() {Text = "1/2 Star", Value="0"},
    }, new { @class = "form-control rating-search" })
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-lg" value="Search" />
                    </span>
                </div>
            </div>
        }
        <div class="col-lg-6">
            @Html.DropDownList("sortBy", new List<SelectListItem>
    {
                        new SelectListItem() {Text = "Product", Value = Url.Action("Index", "Reviews", new { sortOrder = ViewBag.ProductSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })},
                        new SelectListItem() {Text = "Rating", Value= Url.Action("Index", "Reviews", new { sortOrder = ViewBag.RatingSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })},
                        new SelectListItem() {Text = "Author", Value= Url.Action("Index", "Reviews", new { sortOrder = ViewBag.AuthorSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })},
                        new SelectListItem() {Text = "Date", Value= Url.Action("Index", "Reviews", new { sortOrder = ViewBag.DateSortParm, currentSearch = ViewBag.CurrentSearch, currentField = ViewBag.CurrentField })}
    },"Sort By", new { @class = "btn btn-lg pull-right" })
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row item">
            @Html.Partial("_ReviewBody", item)
            <div class="col-md-12">
                @if (ViewBag.CurrentSearch != item.Author.UserName)
                {
                    @Html.ActionLink("Reviews by this user", "Index", "Reviews", new { searchString = item.Author.UserName, searchField = "Author" }, new { @class = "btn" })
                }
                @if (ViewBag.CurrentUser == item.AuthorID || ViewBag.isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn" })
                }
                @if (ViewBag.CurrentUser == item.AuthorID || ViewBag.isAdmin)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn" })
                }
            </div>
        </div>
    }
    <div class="page-box text-right">
        <p class="text-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentSearch = ViewBag.CurrentSearch }))
    </div>
}