@model SiegeNut.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section header {
    <h1>@ViewBag.Title</h1>
}

<div class="row manage">
    <div class="col-md-6 col-md-offset-3">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h4>Account Information</h4>
        <hr />
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-lg" })
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-lg" })
        }

        @Html.ActionLink("Your Reviews", "Index", "Reviews", new { searchString = ViewBag.UserName, searchField = "Author" }, new { @class = "btn btn-lg" })
    </div>
</div>


