@model SiegeNut.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section header {
    <h1>@ViewBag.Title</h1>
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row info">
    <h4>Account Information</h4>
    <hr />
    <div class="col-md-12">
        
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn" })
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn" })
        }

        @Html.ActionLink("Your Reviews", "Index", "Reviews", new { searchString = ViewBag.UserName, searchField = "Author" }, new { @class = "btn" })
    </div>
</div>

